<template>
  <div
    class="h-screen w-screen font-lato pt-[72px] pb-[80px] overflow-x-hidden"
  >
    <div
      class="
        fixed
        top-0
        left-0
        w-full
        h-[72px]
        rounded-b-xl
        bg-white
        z-40
        flex
        justify-end
        items-center
        px-4
        py-4
        shadow-lg
      "
    >
      <div
        class="
          absolute
          top-0
          left-0
          w-full
          h-[5px]
          bg-gradient-to-r
          from-primary
          to-secondary
        "
      ></div>
      <NuxtLink
        to="/login"
        class="
          text-primary text-[14px]
          transform
          hover:brightness-110 hover:underline
        "
      >
        Login
      </NuxtLink>
    </div>

    <Nuxt />

    <div
      class="
        fixed
        bottom-0
        left-0
        w-full
        h-[80px]
        rounded-t-xl
        bg-white
        z-40
        flex
        justify-end
        items-center
        px-6
        py-6
        shadow-top
      "
    >
      <NuxtLink
        to="/login"
        class="
          h-[40px]
          w-full
          rounded-xl
          bg-gradient-to-r
          from-primary
          to-secondary
          text-[#E6FFFA]
          flex
          items-center
          justify-center
          hover:from-[#2C7A7B] hover:to-[#2B6CB0]
          transition-all
          duration-150
          ease-in-out
        "
      >
        Kostenlos Registrieren
      </NuxtLink>
    </div>
  </div>
</template>
