<template>
  <div>
    <section
      class="-mt-2 py-8 w-full bg-gradient-to-bl from-[#EBF4FF] to-[#E6FFFA]"
    >
      <h1 class="text-[42px] text-[#2D3748] text-center leading-[1.26] mb-6">
        Deine Job <br />
        website
      </h1>

      <img
        class="-ml-2 transform scale-110 w-full"
        src="@/assets/svg/undraw_agreement_aajr.svg"
      />
    </section>

    <section class="py-8 w-full">
      <h3 class="text-[#4A5568] text-[21px] text-center leading-[1.26] mb-6">
        Drei einfache Schritte <br />
        zu deinem neuen Job
      </h3>

      <div class="mb-8">
        <img
          class="ml-auto mr-10"
          src="@/assets/svg/undraw_Profile_data_re_v81r.svg"
        />

        <p class="text-[130px] text-[#718096] leading-[1] -mt-10 ml-4">
          1.
          <small class="text-[15.75px]">Erstellen dein Lebenslauf</small>
        </p>
      </div>

      <div class="mb-8">
        <p class="text-[130px] text-[#718096] leading-[1] ml-8 mb-2">
          2.
          <small class="text-[15.75px]">Erstellen dein Lebenslauf</small>
        </p>

        <img class="ml-auto mr-20" src="@/assets/svg/undraw_task_31wc.svg" />
      </div>

      <div class="mb-8">
        <div class="flex items-center ml-12 text-[#718096]">
          <p class="text-[130px] leading-[1] mr-8">3.</p>

          <p class="text-[15.75px]">
            Mit nur einem Klick <br />
            bewerben
          </p>
        </div>
        <img
          class="ml-auto -mt-8"
          src="@/assets/svg/undraw_personal_file_222m.svg"
        />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({})
export default class IndexPage extends Vue {}
</script>
